<div id="myModalNew" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div  class = "modal-header" >
        <h4  class = "modal-title"  id = "myModalLabel" > Nuevo Proveedor </h4 >
        <button  type = "button"  class = "close"  data-dismiss = "modal" > x </button >
      </div >
      <div  class = "modal-body" >
        <%= render 'form', provider: @provider %>
      </div >
    </div>
  </div>    
</div>
