<div class="container" >
  <div class="col-6 offset-3 row justify-content-center">
    <div class="jumbotron ">
        <h2 class="text-center">Perfil</h2>
        <%= render 'form', user: @user %>

        <%= link_to "Volver", :back %>
    </div>
  </div>
</div>
