<div class="container" >
  <div class="col-8 offset-2 row justify-content-center">
    <div class="jumbotron ">
        <h2 class="text-center">Editar orden</h2>
         <%= render 'form', order: @order %>

            <%= link_to 'Show', @order %> |
            <%= link_to 'Back', orders_path %>
    </div>
  </div>
</div>