<h1>New Item</h1>

<%= render 'form', item: @item %>

<% if @provider_param %>
    <%= link_to 'Volver', items_provider_path(:provider_id => @provider.id) %>|
    <%= link_to 'Volver(Proveedor)', @provider %>
<% else %>
    <%= link_to 'Volver', items_path %>
<% end %>
