<!DOCTYPE html>
<html>
<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag 'pdf'%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
</head>
<body>
    <%=yield %>
    
</body>
</html>
