<% if session[:admin]%>
<div class="container" >
  <div class="col-6 offset-3 row justify-content-center">
    <div class="jumbotron ">
        <h2 class="text-center">Editar Usuario</h2>
        <%= render 'form', user: @user %>

        <%= link_to 'Show', @user %>|
<%end%>
<%= link_to 'Back', users_path %>
    </div>
  </div>
</div>