<% if session[:admin]%>
<script type="text/javascript" src="jquery.rut.js"></scrip>
<div class="container" >
  <div class="col-6 offset-3 row justify-content-center">
    <div class="jumbotron ">
        <h2 class="text-center">Nuevo Usuario</h2>
        <%= render 'form', user: @user %>
        <% else %>
        <p> Que haces aqui??. solo los administradores pueden entrar. vuelve atras </p>
        <% end %>
        
          <script>
              function validateRut()
              {
                var rut = document.getElementById('user_rutito');
                var dv = document.getElementById('user_rutito_dv');
                var newrut = rut+""+dv;
                if(!$.validateRut(newrut))
                {
                  alert('rut no valido!');
                }
              }
          </script>

        <%= link_to 'Back', accounts_path %>
    </div>
  </div>
</div>
