<% if session[:admin]%>
<div class="container" >
  <div class="col-6 offset-3 row justify-content-center">
    <div class="jumbotron ">
        <h2 class="text-center">Nuevo Usuario</h2>
        <%= render 'form', user: @user %>
        <% else %>
        <p> Que haces aqui??. solo los administradores pueden entrar. vuelve atras </p>
        <% end %>

        <%= link_to 'Back', accounts_path %>
    </div>
  </div>
</div>
